
.body {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    gap: 925px;
   justify-content: space-around;
}
.div1 {
    
    background-color: #a5d7f8;
    width: 100px;
    height: 50px;
  }
  
  .div2 {
    height: 50px;
    background-color: #e74c3c;
    width: 100px;
  }
  .container1 {
    display: flex;
    width: 1000px;
    height: 500px;
    background-color: #e8b3b3;
    gap: 925px; 
  }
  
  
  .div3 {
   
    background-color: #a5d7f8;
    width: 100px;
    height: 50px;
  }

 