/*2*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(  #4c9099,  #4c9099, #584a88, #584a88   );
}
.table-container1{
    width: 50%;
    height: 250px;
    border-radius: 10px;
    background: #7b6da2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
   
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    padding: 10px;
    text-align: center;
    color: white;
}
.header {

    background-color:  rgba(255, 255, 255, 0.1);
   font-weight: bold;
}
tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}
