@font-face{
    font-family: "fonts";
        src: url(https://fonts.googleapis.com/css2?family=Playwrite+IE+Guides&display=swap);

}

@font-face{
    font-family: "fonts";
    src: url(https://fonts.googleapis.com/css2?family=Playwrite+IE+Guides&display=swap);

}
@font-face{
    font-family: "fonts.ge";
        src: url(https://www.fonts.ge/ka/download/font/638/3D-Unicode);
}
 

